# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_data = pd.read_csv('../WeatherPy/city_data.csv')
city_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,lethem,3.38,-59.80,88.95,50,57,3.29,GY,1596139879
1,1,jamestown,42.10,-79.24,77.00,57,75,5.82,US,1596139668
2,2,mar del plata,-38.00,-57.56,53.01,57,100,6.93,AR,1596139879
3,3,manta,-0.95,-80.73,78.80,78,75,9.17,EC,1596139880
4,4,chokurdakh,70.63,147.92,44.29,83,73,11.12,RU,1596139689
...,...,...,...,...,...,...,...,...,...,...
545,545,palana,59.12,159.97,47.41,90,87,4.76,RU,1596139727
546,546,foam lake,51.65,-103.53,84.00,58,0,4.43,CA,1596139841
547,547,rona de sus,47.90,24.05,73.40,78,0,5.82,RO,1596139841
548,548,ranong,9.97,98.63,80.85,80,99,9.46,TH,1596139842
549,549,hadgaon,19.50,77.67,79.61,82,100,4.83,IN,1596139842

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
    (46.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure